/* Footer container */
.footer {
    background-color: whitesmoke;
    color: grey;
    padding: 40px 0;
  }
  
  /* About Us column */
  .col-md-4 h3:first-of-type {
    margin-top: 0;
  }
  
  /* Team column */
  .col-md-4 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .col-md-4 ul li {
    margin-bottom: 10px;
  }
  
  /* Contact Us column */
  .col-md-4 p {
    margin-bottom: 0;
  }
  
  .col-md-4 p br {
    display: none;
  }
  
  .col-md-4 p:before {
    content: attr(title);
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  /* Copyright */
  .text-muted {
    font-size: 14px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 767.98px) {
    .col-md-4 {
      text-align: center;
      margin-bottom: 30px;
    }
  
    .col-md-4:last-of-type {
      margin-bottom: 0;
    }
  
    .col-md-4 h3 {
      margin-top: 20px;
    }
  }
  